.color-picker {
  display: inline-block;
  padding: 10px;
  background: #f4f4f4;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.color-picker input[type="color"] {
  border: none;
  width: 50px;
  height: 50px;
  cursor: pointer;
  padding: 1;
}